{% extends 'base.html.twig' %}
{%  block body %}
    <h1 class="text-center">À propos</h1>

    <h2>Comment mettre votre parcours de randonnée sur le site ?</h2>
        <ol>
            <li>Télécharger l'application : GeoTracker sur le PlayStore.</li>
            <li>Au départ de votre randonnée, lancez l'application et appuyez sur le bouton rouge d'enregistrement.</li>
            <li>L'application est lancée en fond et capture vos mouvements pendant la randonnée.</li>
            <li>Une fois la randonnée finie, appuyez sur le bouton stop.</li>
            <li>Vous pouvez maintenant cliquer sur votre randonnée et appuyez sur le bouton de partage pour envoyer la randonnée sur votre ordinateur.</li>
            <li>Il ne reste plus qu'à mettre la randonnée sur le site lors de la création d'une randonnée !</li>
        </ol>
    <h2>Vous souhaitez nous contacter ?</h2>
    <p>
        Email : contact@randonear.com
    </p>
{%  endblock body %}